{% extends '_base.html' %}
{% block title %}公告{% endblock title %}

{% block content %}
    <h1>论坛公告</h1>

    <br>

    <h2>第二届“追星逐月2017”研究论坛 一号通知</h2>

    <hr>

    <p>
    	&emsp;&emsp;盛夏承继了春日的繁荣，骄阳升腾着万物的生机，又到一年夏意渐浓时。遥想两年前的此刻，无论是教工餐厅的笑语欢声，108 教室的五彩纷呈，还是教十楼顶的灯影摇曳，毕业电影中的美好定格，仿佛都近在眼前：那是我们永不磨灭的记忆。两年来，同学们已开始在各自的领域取得可喜的成就，并在全新的生活中，拥有了许多值得分享的经历。今年，随着疫情防控政策迎来调整，我们终于有机会再次欢聚师大，分享自己的科研成果、生活经历，在跨领域的思维碰撞中，共享科研视野，共叙同学情谊。鉴于此，北京师范大学天文系与追星逐月论坛组委会经过研究讨论，决定于2023年6月30日-7月2日在中国北京市举办“第二届‘追星逐月2017’研究论坛”。我们盛情邀请您出席论坛，并期待您的精彩报告。盼望着与您在故园相聚！
    </p>

    <p>
        &emsp;&emsp;<strong>会议报到接待时间：</strong>2023年6月30日，16:00-23:00
    </p>

    <p>
        &emsp;&emsp;<strong>会议报到地址：</strong>北京师范大学海淀校区
    </p>

    <p>
	&emsp;&emsp;<strong>会议主办方：</strong>北京师范大学天文系
    </p>

    <p>
	&emsp;&emsp;<strong>会议承办方：</strong>北京师范大学天文系
    </p>

    <p>
	&emsp;&emsp;<strong>会议协办方：</strong>中国科学院紫金山天文台、中国科学院国家天文台、北京大学
    </p>

    <p>
	&emsp;&emsp;<strong>会议注册费：</strong>免费
    </p>

    <p>
	&emsp;&emsp;<strong>会议指导组：</strong>李正祥
    </p>

    <p>
	&emsp;&emsp;<strong>科学组织委员会：</strong>方君正、厉奕行、劉琛悅、孟维宇、屈楚舒、盛衍钧、石睿杰（co-chair）、孙文（co-chair）、滕伟霖（chair）、于皓川、岳树峰、周瑞蕾
    </p>

    <p>
	&emsp;&emsp;<strong>地方组织委员会：</strong>：安嘉辰、黄皓（co-chair）、黄启宸、李泽君、王相函（chair）、王正一、朱珊昊、郑晨发（co-chair）
    </p>

    <p style="text-align:right;">
        北京师范大学天文系<br>
        2023年6月20日
    </p>
    
    <br>

    <h2>FAQ</h2>

    <hr>

    <p>
        <strong>注册帐号：</strong>未登录时，点击页面右上方的“注册”按钮，进入注册页面，填写相关信息，点击“注册”按钮，即可完成注册。<strong>管理员将定期清理无效注册信息，请勿随意注册。</strong>
    </p>

    <p>
        <strong>登录帐号：</strong>未登录时，点击页面右上方的“登录”按钮，进入登录页面，填写相关信息，点击“登录”按钮，即可完成登录。
    </p>

    <p>
        <strong>修改帐号密码：</strong>帐号登录后，点击右上角“修改密码”按钮，进入修改密码页面，填写相关信息，点击“修改密码”按钮，即可完成修改。
    </p>

    <p>
        <strong>找回密码：</strong>如果忘记密码，使用注册时填写的邮箱地址，发送主题为“找回密码”的邮件到starchaser2017@yeah.net，管理员确认后将会发送新密码到您的邮箱，请及时登录并修改密码。
    </p>

    <p>
        <strong>删除帐号：</strong>请使用帐号对应邮箱，发送主题为“删除帐号”的说明邮件至starchaser2017@yeah.net，管理员将为您删除帐号。
    </p>

    <p>
        <strong>申请提交报告权限：</strong>请使用注册帐号的邮箱，发送说明邮件（必要时包含证明材料）至starchaser2017@yeah.net，邮件主题为“申请提交报告权限”，管理员审核后将为您开通权限；若为追星逐月2017成员，使用本科学号对应的邮箱注册帐号，并用该邮箱发送主题为“申请提交报告权限”的包含任意内容的邮件，管理员将为您开通权限。<strong>没有提交报告权限的帐号无法提交报告/查看报告详情。</strong>
    </p>

    <p>
        <strong>提交报告：</strong>拥有提交报告权限的帐号登录后，在报告列表页面点击“提交报告”按钮，进入提交报告页面，填写相关信息，点击“提交”按钮，即可完成提交。如需要提交附件/存在特殊情况，使用帐号对应邮箱，发送附件及情况说明至starchaser2017@yeah.net，邮件主题为“附加说明-报告题目”，管理员将酌情处理，如有面向听众的材料将在后续议程安排通知中提供下载链接。<strong>管理员将定期清理无意义/违反国家相关法律规定的报告，请勿随意提交。</strong>注：报告更新存在延迟，提交后如看不到自己的报告，可点击“搜索”查看；或登出再登入，亦可查看已提交的报告。
    </p>

    <p>
        <strong>查看报告：</strong>帐号登录后，点击右上角“报告”按钮，进入报告列表页面；如帐号拥有提交报告权限，点击报告标题，即可查看报告详情。
    </p>

    <p>
        <strong>修改/撤销报告：</strong>请使用帐号对应邮箱，发送主题为“修改报告-报告主题”的说明邮件至starchaser2017@yeah.net，管理员审核后将为您修改/撤销报告。
    </p>
    
    <p>
        <strong>我们在乎您的隐私：</strong>网站基于Django开发，代码于<a href="https://github.com/ChenfaZheng/StarChaser2017Forum">GitHub</a>上开源可供审查；网站不存储明文密码，仅存储用户邮箱（与基于邮箱生成的用户名）和密码基于SHA265算法加盐后的密文，即使网站管理员也无法得知用户的密码；网站仅存储用户提交注册的账户信息与报告相关信息，不存储用户的其他信息。
    </p>


{% endblock content %}
